body {
	background-image:url(wallpapper.jpg)

}
	
.menu ul li{
	background-color:6da39f;
	color: white;
	float: left;
	width: 200px;
	height: 40px;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	font-family:arial;
}
.menu ul li:hover{
	background-color:#2c69cc;

}
.menu ul{
	padding: 0;
}